In [13]:
import pandas as pd
import numpy as np
import yaml 
import csv
import sklearn
from sklearn.preprocessing import LabelEncoder
import os
from datetime import datetime
from sklearn.impute import SimpleImputer
from collections import defaultdict
from sklearn.model_selection import train_test_split

In [2]:
file = open('./datasets/PKvsIND_ODI/_14.yml')

In [3]:
b = yaml.safe_load(file)

In [4]:
type ('2010-01-10')==str

True

In [5]:
print b['info']

{'city': 'Kanpur', 'dates': [datetime.date(2007, 11, 11)], 'match_type': 'ODI', 'gender': 'male', 'venue': 'Green Park', 'teams': ['India', 'Pakistan'], 'umpires': ['IJ Gould', 'AM Saheba'], 'toss': {'decision': 'field', 'winner': 'Pakistan'}, 'player_of_match': ['Yuvraj Singh'], 'outcome': {'winner': 'India', 'by': {'runs': 46}}, 'overs': 50}

In [6]:
directory = './datasets/PKvsIND_ODI/'
outcome_of_matches = []

for i,f in enumerate(os.listdir(directory)):
    data = yaml.safe_load(open(directory+f))['info']
    outcome_of_matches.append({
        'id': i+1,
        'city': data.get('city'),
        'month': ( datetime.strptime(data.get('dates')[0], "%Y-%m-%d") if type(data.get('dates')[0]) == str else data.get('dates')[0]).strftime("%B"),
        'match_type': data['match_type'],
        'team_a': data['teams'][0],
        'team_b': data['teams'][1],
        'toss_won': data['toss']['winner'],
        'toss_decision': data['toss']['decision'],
        'venue': data['venue'],
        'winner': data['outcome']['winner']
    })

In [7]:
f= open('./csv/PKvsIND_ODI.csv','w+')
w = csv.DictWriter(f, ['id','city','month','match_type','team_a','team_b','toss_won','toss_decision','venue','winner'])
w.writeheader()
for obj in outcome_of_matches:
    w.writerow(obj)
f.close()

In [20]:
data = pd.read_csv('./csv/PKvsIND_ODI.csv')
del data['id']
data.head()

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
0,NaN,February,ODI,Pakistan,India,Pakistan,bat,Rawalpindi Cricket Stadium,India
1,Colombo,February,ODI,India,Pakistan,India,field,P Sara Oval,India
2,Abu Dhabi,April,ODI,India,Pakistan,India,bat,Sheikh Zayed Stadium,India
3,Manchester,June,ODI,India,Pakistan,Pakistan,field,Old Trafford,India
4,Karachi,June,ODI,Pakistan,India,Pakistan,bat,National Stadium,India

In [32]:
encoder_dict = defaultdict(LabelEncoder)
label_data = data.apply(lambda x: encoder_dict[x.name].fit_transform(x))
label_data.head()

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
0,0,2,0,1,0,1,0,19,0
1,6,2,0,0,1,0,1,16,0
2,1,0,0,0,1,0,0,21,0
3,17,5,0,0,1,1,1,15,0
4,13,5,0,1,0,1,0,13,0

In [33]:
encoder_dict

defaultdict(sklearn.preprocessing.label.LabelEncoder,
            {'city': LabelEncoder(),
             'match_type': LabelEncoder(),
             'month': LabelEncoder(),
             'team_a': LabelEncoder(),
             'team_b': LabelEncoder(),
             'toss_decision': LabelEncoder(),
             'toss_won': LabelEncoder(),
             'venue': LabelEncoder(),
             'winner': LabelEncoder()})

In [34]:
label_data.apply(lambda x: encoder_dict[x.name].inverse_transform(x)).head()

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
0,NaN,February,ODI,Pakistan,India,Pakistan,bat,Rawalpindi Cricket Stadium,India
1,Colombo,February,ODI,India,Pakistan,India,field,P Sara Oval,India
2,Abu Dhabi,April,ODI,India,Pakistan,India,bat,Sheikh Zayed Stadium,India
3,Manchester,June,ODI,India,Pakistan,Pakistan,field,Old Trafford,India
4,Karachi,June,ODI,Pakistan,India,Pakistan,bat,National Stadium,India

In [35]:
output = label_data.pop('winner')

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    0
23    1
24    0
25    1
26    1
27    1
28    1
29    1
30    1
31    0
32    0
Name: winner, dtype: int64

In [36]:
x_train, x_test, y_train, y_test = train_test_split(label_data,output,test_size=0.2)

In [39]:
from sklearn.tree import DecisionTreeClassifier
dc_model = DecisionTreeClassifier()

dc_model.fit(x_train,y_train)

y_head_dc = dc_model.predict(x_test)

dc_score = dc_model.score(x_test,y_test)

In [40]:
dc_score

0.5714285714285714

In [41]:
from sklearn.svm import SVC
svm_model = SVC()

svm_model.fit(x_train,y_train)

y_head_svm = svm_model.predict(x_test)

svm_score = svm_model.score(x_test,y_test)

/Users/sheikh/Library/Python/2.7/lib/python/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [42]:
svm_score

0.5714285714285714

In [43]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()

lr_model.fit(x_train,y_train)

y_head_lr = lr_model.predict(x_test)

lr_score = lr_model.score(x_test,y_test)

/Users/sheikh/Library/Python/2.7/lib/python/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [44]:
lr_score

0.7142857142857143

In [45]:
from sklearn.naive_bayes import GaussianNB
nb_model = GaussianNB()

nb_model.fit(x_train,y_train)

y_head_nb = nb_model.predict(x_test)

nb_score = nb_model.score(x_test,y_test)

In [46]:
nb_score

0.8571428571428571

In [47]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()

knn_model.fit(x_train,y_train)

y_head_knn = knn_model.predict(x_test)

knn_score = knn_model.score(x_test,y_test)

In [48]:
knn_score

0.7142857142857143

In [56]:
val = pd.DataFrame({
        'id':1,
        'city': 'Karachi',
        'month': 'january',
        'match_type': 'ODI',
        'team_a': 'Pakistan',
        'team_b': 'India',
        'toss_won': 'Pakistan',
        'toss_decision': 'bat',
        'venue': 'National Stadium',
    }, index=[0])
del val['id']
label_val = val.apply(lambda x: encoder_dict[x.name].fit_transform(x))
pred = nb_model.predict(label_val)
encoder_dict['winner'].inverse_transform(pred)

array(['India'], dtype=object)